/*
--------------
RESET---------
--------------
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
--------------
COMMON--------
--------------
*/


body {
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

strong {
    font-weight: lighter;
    margin-left: 5px;
}

ul {
    list-style-type: none;
    display: flex;
}

h5 {
    font-weight: normal;
    margin: 0 10px;
}
/*
--------------
HEADER--------
--------------
*/
header .head-box {
    background-color: black;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: end;
}


.top-header {
    display: flex;
    align-items: end;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: aliceblue;
    display: inline-block;
}



button[type="button"] {
    all: unset;
    background-color: #4a4a4a;
    padding: 0 4px;
    cursor: pointer;
}


/*
--------------
MAIN---------
--------------
*/

.container-users {
    max-width: 1750px;
    margin: 0 auto;
    }

.utente{
    min-width: calc( 100% / 7 - 15px);
    background-color: rgb(0, 0, 0);
    position: relative;
    float: left;
    margin: 15px 6px;
}
.naming {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.utente img {
    width: 100%;
    display: block;
    padding: 3px 
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}
/*
--------------
FOOTER--------
--------------
*/

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left:0;
    width: 100%;
    background-color: #222222;
}

.navfooter {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


footer .video,
footer .button {
    width: 250px;

}

footer .button {
    background-color: #4a4a4a;
    color: red;
    display: inline-block;
    padding: 40px 20px;
    cursor: pointer;
    text-align: center;
}

h5 {
    font-size: 18px;

    display: inline-block;
}

.icone > i{

    margin-bottom: 5px;
}

.icone {
    padding: 15px 10px;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#icongreen {
    color: rgb(62, 189, 8);
}

.icone .arrow {
    font-size: 15px;
    line-height: 50px;
}